name: Upload to PyPI

on:
  release:
    types: [ published ]

jobs:
  publish:
    name: Publish to PyPI

    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/project/aoc-data/

    permissions:
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          enable-cache: true

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
