name: Upload to PyPI

on:
  release:
    types: [ published ]

jobs:
  publish:
    name: Publish to PyPI

    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/project/aoc-data/

    permissions:
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
        with:
          enable-cache: true

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
